@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calibri:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  height: 100px;
  background-color: #9dccf1;
}

.navigation-title {
  font-family: 'Bangers', sans-serif;
  flex-grow: 1;
  text-align: center;
  font-size: 3.5rem;
  color: black;
}

main {
  min-height: calc(100vh - 160px);
}

.main-content {
  padding: 40px 30px;
}

header {
  padding: 40px 0;
  background-color: white;
}

.header-main {
  font-size: 3.5rem;
  font-family: 'Calibri', sans-serif;
  text-align: center;
  color: black;
}

.header-title {
  font-size: 2.5rem;
  font-family: 'Calibri', sans-serif;
  text-align: center;
  color: black;
}

.header-subtitle {
  font-size: 2rem;
  font-family: 'Calibri', sans-serif;
  text-align: center;
  color: black;
}

footer {
  height: 80px;
  padding: 20px 0;
  text-align: center;
  background-color: #9dccf1;
}

.container-text {
  font-family: 'Calibri', sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  text-align: center;
  color: black;
  padding: 15px;
  margin: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
  word-spacing: 2px;
  max-width: 600px;
  word-wrap: break-word;
}

.list-text {
  display: flex;
  align-items: center;
  text-align: left;
  color: #333;
  font-size: 1.25rem;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.list-text p {
  margin: 0;
}

.list-text .font-bold {
  padding-right: 10px;
}
/* ICON */
.navigation-icon img {
  width: 70px;
  height: auto;
}

/* BUTTONS */
/* Auth buttons */
.auth-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

/* Login & sign up button */
.login-btn {
  background-color: #0078d4;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.login-btn:hover {
  background-color: #005a8d;
}

.login-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #00bfff;
}

/* Sign up button */
.signup-btn {
  background-color: #ffc505;
  color: #03045e;
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.signup-btn:hover {
  background-color: #d29a2b;
}

.signup-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffc505;
}

/* General button */
.general-btn {
  background-color: #9dccf1;
  color: #03045e;
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.general-btn:hover {
  background-color: #69b1e9;
}

.general-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #9dccf1;
}

/* Bridge table */
.bridge-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Bridge title styling */
.bridge-list-title {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

/* Styling for individual bridge item rows */
.bridge-items {
  margin-top: 20px;
}

/* Added to existing bridge table */
.top-row {
  display: grid;
  grid-template-columns: 70px 1fr 200px 250px 300px;
  gap: 10px;
  background-color: #ceeaff;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-align: left;
  border-radius: 5px 5px 0 0;
}

.top-row div {
  padding: 5px;
}

.row {
  display: grid;
  grid-template-columns: 70px 1fr 200px 250px 300px;
  gap: 10px;
  padding: 12px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.row:hover {
  background-color: #e6f7ff;
}
.icon-col {
  text-align: center;
}

.name-col {
  font-size: 1.25rem;
  color: #333;
}

.name-col a {
  text-decoration: none;
  color: inherit;
}

.name-col a:hover {
  text-decoration: underline;
}

.actions-col {
  font-size: 1.25rem;
  width: 300px;
  color: #444;
}

.bridge-image {
  width: 500px;
}
.status-col {
  text-align: center;
  font-size: 1.25rem;
  color: #444;
}

.owner-col {
  font-size: 1.25rem;
  text-align: center;
  color: #444;
}

.actions-col {
  font-size: 1.25rem;
  text-align: center;
  color: #444;
}

/* Styling for alternate row colors */
.row:nth-child(even) {
  background-color: #f9f9f9;
}

/* Space around the top row and rows */
.bridge-items .row,
.bridge-items .top-row {
  border-radius: 5px;
}

/* Additional spacing between items */
.bridge-items {
  margin-top: 20px;
}

/* --- Button Spacing  --- */
.single-bridge-page {
  position: relative;
  padding-bottom: 100px;
}

/* --- Home Button --- */
.home-button {
  position: relative;
  width: 60px;
  bottom: 70px;
  left: auto;
  background-color: #283629;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.Add-favorite{
  position: relative;
  width: 130px;
  bottom: 0px;
  right: auto;
  left: auto;
  background-color: #283629;
  color: #ffffff;
  padding: 10px 0px;
  text-decoration: none;
  border-radius: 5px;
  
}